<!-- Fixed navbar -->
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ path('sil16_vitrine_accueil') }}">MyE-Commerce</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
      <li><a href="{{ path('sil16_vitrine_accueil') }}"> Accueil </a></li>
      <li><a href="{{ path('sil16_vitrine_mentions') }}"> Mentions légales </a></li>
      <li><a href="{{ path('sil16_vitrine_catalogue') }}"> Catalogue </a></li>
      <li>
        <a href="{{ path('sil16_vitrine_basket_index') }}">
          <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
           Mon Panier
        </a>
      </li>
      {% if app.session.get('customer_id') == null %}
        <li>
          <a href="{{ path('sil16_vitrine_subscription') }}">
             S'inscrire
          </a>
        </li>
        <li>
          <a href="{{ path("sil16_vitrine_login") }}">
             Se connecter
          </a>
        </li>
      {% else %}
        <li>
          <a href="{{ path('sil16_vitrine_logout') }}">
             Se déconnecter
          </a>
        </li>
      {% endif %}
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>
