{% extends "sil16VitrineBundle::layout.html.twig" %}

{% block title %} Catalogue {% endblock %}
{% block h1 %} {{ product_category.name }} {% endblock %}

{% block content %}

	<!-- CATALOGUE SECTION -->
	<div id="dg">
		<div class="container">
      <div class="row centered">
        <br>
      {% for product in products %}
  				<div class="col-lg-3">
  					<div class="tilt">
							 {# GESTION DE L'IMAGE ET DU PLACEHOLDER SI BESOIN #}
	              {% if product.getPictures()|length > 0  %}
	  					     <a href="#"><img class="product_picture" src="{{ asset('bundles/sil16vitrine/pictures/products/'~ product.getPictures().first().getName()) }}.jpg" alt="{{ product.getPictures().first().getName() }}" width=300></a>
	              {% else %}
	                 <a href="#"><img src="{{ asset('bundles/sil16vitrine/pictures/products/no_available.jpg') }}" alt="Pas de photo disponible" width=300 height=300></a>
	              {% endif %}

                 <h2> {{ product.name() }} </h2>
                 <div class="price">{{ product.price_to_s() }} </div>
                 <p>
                 {% if(product.stock() > 0) %}
                    En stock : {{ product.stock() }}

									  {# FORMULAIRE D'AJOUT DE PRODUIT DANS LE PANIER #}
                    {{ form_start(forms[product.id()], {'attr': {'class': 'form-horizontal'}}) }}
                         {{ form_errors(forms[product.id()]) }}

												 {# QUANTITE #}
                         <div class="form-group">
                           {{ form_label(forms[product.id()].quantity, "Quantité", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                           {{ form_errors(forms[product.id()].quantity) }}
                           <div class="col-sm-4">
                             {{ form_widget(forms[product.id()].quantity, {'attr': {'class': 'form-control'}}) }}
                           </div>
                         </div>

                       {{ form_widget(forms[product.id()].product_id, {'attr': {'value': product.id()}}) }}
                       {{ form_widget(forms[product.id()].submit, {'attr': {'class': 'btn btn-primary'}, 'label': "Ajouter" }) }}

                       {{ form_rest(forms[product.id()]) }}

                    {{ form_end(forms[product.id()]) }}
                 {% else %}
                    Rupture de stock
                 {% endif %}
                </p>
  					</div>
  				</div>
        {% endfor %}

			</div><!-- row -->
		</div><!-- container -->
	</div><!-- DG -->
{% endblock %}
