{% extends "sil16VitrineBundle::layout.html.twig" %}

{% block title %} Catalogue {% endblock %}

{% block content %}

  <div id="headerwrap">
    <div class="container">
      <div class="row centered">
        <div class="col-lg-8 col-lg-offset-2">

        <h1> Catalogue </h1>
        </div>
      </div><!-- row -->
    </div><!-- container -->
  </div><!-- headerwrap -->


	<!-- CATALOGUE SECTION -->
	<div id="dg">
		<div class="container">
      <div class="row centered">
        <br>
      {% for product in products %}
  				<div class="col-lg-3">
  					<div class="tilt">
  					     <a href="#"><img class="product_picture" src="{{ asset('bundles/sil16vitrine/pictures/products/'~ product.getPictures().first().getName()) }}" alt="product.getPictures().first().getName()" width=300></a>
                 <h2> {{ product.name() }} </h2>
                 <div class="price">{{ product.price_to_s() }} </div>
                 <p>
                 {% if(product.stock() > 0) %}
                    En stock : {{ product.stock() }}
                    {{ form_start(forms[product.id()], {'attr': {'class': 'form-horizontal'}}) }}
                         {{ form_errors(forms[product.id()]) }}
                         <div class="form-group">
                           {{ form_label(forms[product.id()].quantity, "Quantité", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                           {{ form_errors(forms[product.id()].quantity) }}
                           <div class="col-sm-4">
                             {{ form_widget(forms[product.id()].quantity, {'attr': {'class': 'form-control'}}) }}
                           </div>
                         </div>
                       {{ form_widget(forms[product.id()].product_id, {'attr': {'value': product.id()}}) }}
                       {{ form_widget(forms[product.id()].submit, {'attr': {'class': 'btn btn-primary'}}) }}

                       {{ form_rest(forms[product.id()]) }}

                    {{ form_end(forms[product.id()]) }}
                 {% else %}
                    Rupture de stock
                 {% endif %}
                </p>
  					</div>
  				</div>
        {% endfor %}

			</div><!-- row -->
		</div><!-- container -->
	</div><!-- DG -->
  <script>
      window.addEventListener("load", function() {
        var pictures = document.getElementsByClassName('product_picture');
        for (i = 0; i < pictures.length; i++) {
          pictures[i].addEventListener("mouseover", function( event ) {
            var src = this.src;
            var new_src = src.slice(0,src.length - 6) + src.slice(src.length - 4, src.length)
            this.src = new_src;
          });

          pictures[i].addEventListener("mouseout", function( event ) {
            var src = this.src;
            var new_src = src.slice(0,src.length - 4) + "_2" + src.slice(src.length - 4, src.length)
            this.src = new_src;
          });

        }
      }
    );
  </script>
{% endblock %}
