{% extends "sil16VitrineBundle::layout.html.twig" %}

{% block title %} Connexion - Mes Lampes {% endblock %}

{% block content %}

  <div id="headerwrap">
    <div class="container">
      <div class="row centered">
        <div class="col-lg-8 col-lg-offset-2">
          <h1>Connexion</h1>
        </div>
      </div><!-- row -->
    </div><!-- container -->
  </div><!-- headerwrap -->
  <div id="dg">
    <div class="container">
      <div class="row centered">
        {{ dump(app.session.get('customer_id')) }}
        <br>
        {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
          <div class="form-group">
            {{ form_label(form.email, "E-Mail", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
            <div class="col-sm-4">
              {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
            </div>
          </div>
          <div class="form-group">
            {{ form_label(form.password, "Mot de passe", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
            <div class="col-sm-4">
              {{ form_widget(form.password, {'attr': {'class': 'form-control'}}) }}
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
              {{ form_widget(form.submit, {'attr': {'class': 'btn btn-primary'}, 'label': "S'inscrire" }) }}
            </div>
          </div>
          {{ form_end(form) }}

      </div><!-- row -->
    </div><!-- container -->
  </div><!-- DG -->
{% endblock %}
