{% extends "sil16VitrineBundle::layout.html.twig" %}

{% block title %} Mon Panier {% endblock %}

{% block content %}

  <div id="headerwrap">
    <div class="container">
      <div class="row centered">
        <div class="col-lg-8 col-lg-offset-2">
          <h1>Mon panier</h1>

        </div>
      </div><!-- row -->
    </div><!-- container -->
  </div><!-- headerwrap -->
  <div id="dg">
    <div class="container">
      <div class="row centered">
        <br>
        {% if(products) %}
           <h2>Contenu de votre panier</h2>
           <table class="table table-hover">
              <thead>
                 <tr>
                    <th>Produit</th>
                    <th>Catégorie</th>
                    <th>Quantité</th>
                    <th>Prix total</th>
                    <th>Supprimer</th>
                </tr>
              </thead>
              <tbody>
            {% for item in products %}
              <tr>
                <td>{{ item['product'].name }}</td>
                <td><a href="{{ path('sil16_vitrine_articles_par_categorie', { product_category_id: item['product'].getProductCategory.getId() } ) }}">{{ item['product'].getProductCategory.name }}</a></td>
                <td>{{ item['qty']  }}</td>
                <td>{{ item['product'].price * item['qty'] }}</td>
                <td>
                  <a href="{{ path('sil16_vitrine_basket_delete_product', { product_id: item['product'].getId() }) }}" onclick="return confirm('Voulez-vous supprimer ce produit')">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                  </a>
              </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
          <a href="{{ path('sil16_vitrine_basket_clear') }}" class="btn btn-danger" onclick="return confirm('Voulez-vous vraiment vider votre panier ?')">Vider le panier</a>
          <a href="{{ path('sil16_vitrine_order_create') }}" class="btn btn-primary" onclick="return confirm('Confirmer la commande ?')">Confirmer la commande</a>
        {% else %}
           <h2>Votre panier est vide : Faites des courses !</h2>
        {% endif %}
      </div><!-- row -->
    </div><!-- container -->
  </div><!-- DG -->
{% endblock %}
