{% extends "sil16VitrineBundle::layout.html.twig" %}

{% block title %} Inscription - Mes Lampes {% endblock %}
{% block h1 %} Inscription {% endblock %}

{% block content %}

  <div id="dg">
    <div class="container">
      <div class="row centered">
        <br>
        {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

          {# Email #}
          <div class="form-group">
            {{ form_label(form.email, "E-Mail", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
            <div class="col-sm-4">
              {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="col-sm-4 form_errors">{{ form_errors(form.email) }}</div>
          </div>

          {# LastName #}
          <div class="form-group">
            {{ form_label(form.lastname, "Nom", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
            <div class="col-sm-4">
              {{ form_widget(form.lastname, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="col-sm-4 form_errors">{{ form_errors(form.lastname) }}</div>
          </div>

          {# FirstName #}
          <div class="form-group">
            {{ form_label(form.firstname, "Prénom", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
            <div class="col-sm-4">
              {{ form_widget(form.firstname, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="col-sm-4 form_errors">{{ form_errors(form.firstname) }}</div>
          </div>

          {# Password #}
          <div class="form-group">
            {{ form_label(form.password.first, "Mot de passe", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
            <div class="col-sm-4">
              {{ form_widget(form.password.first, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="col-sm-4 form_errors">{{ form_errors(form.password.first) }}</div>
          </div>

          {# Password Confirmation #}
          <div class="form-group">
            {{ form_label(form.password.second, "Mot de passe de confirmation", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
            <div class="col-sm-4">
              {{ form_widget(form.password.second, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="col-sm-4 form_errors">{{ form_errors(form.password.second) }}</div>
          </div>
          <div class="form-group">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
              <input type="submit" value="S'inscrire" class="btn btn-primary form-control">
            </div>
          </div>
          {{ form_end(form) }}

      </div><!-- row -->
    </div><!-- container -->
  </div><!-- DG -->
{% endblock %}
