<div class="row">
  <div class="col-sm-4"></div>
  <div class="col-sm-4">
    <a class="btn btn-default" href="{{ path('admin_product_index') }}"> Retour Produits</a>
  </div>
</div>
{{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
  <div class="form-group">
    {{ form_label(form.name, "Libellé", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
    <div class="col-sm-4">
      {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="col-sm-4 form_errors">{{ form_errors(form.name) }}</div>
  </div>
  <div class="form-group">
    {{ form_label(form.product_category, "Catégorie", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
    <div class="col-sm-4">
      {{ form_widget(form.product_category, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
  <div class="form-group">
    {{ form_label(form.description, "Description", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
    <div class="col-sm-4">
      {{ form_widget(form.description, {'attr': {'class': 'form-control', 'rows': 4}}) }}
    </div>
    <div class="col-sm-4 form_errors">{{ form_errors(form.description) }}</div>
  </div>
  <div class="form-group">
    {{ form_label(form.price, "Prix", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
    <div class="col-sm-4">
      {{ form_widget(form.price, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="col-sm-4 form_errors">{{ form_errors(form.price) }}</div>
  </div>
  <div class="form-group">
    {{ form_label(form.stock, "Stock", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
    <div class="col-sm-4">
      {{ form_widget(form.stock, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="col-sm-4 form_errors">{{ form_errors(form.stock) }}</div>
  </div>
  <div class="form-group">
    {{ form_label(form.active, "Visbilité", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
    <div class="col-sm-4">
      {{ form_widget(form.active, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="col-sm-4 form_errors">{{ form_errors(form.active) }}</div>
  </div>
  <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
      <input type="submit" value="{{ submit_label }}" class="btn btn-primary form-control">
    </div>

  </div>

  {{ form_end(form) }}
